body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* App header styling */
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.App-header nav a:hover {
  text-decoration: underline;
}

/* Post component styling */
.post {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 90%;
  max-width: 600px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-image {
  width: 500px;
  height: 375px;
  object-fit: contain; /* Ensures the image fits within the area without cropping */
  border-radius: 5px;
  margin-bottom: 10px; /* Add some space between the image and the caption */
}

.post-caption {
  font-style: italic;
  color: gray;
  text-align: center;
  margin-bottom: 10px; /* Add some space between the caption and the reactions */
}

/* Photos component styling */
.photos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(162.4px, 1fr));
  gap: 10px;
  justify-content: center;
}

.photo-item img {
  width: 162.4px;
  height: 162.4px;
  object-fit: cover;
  border-radius: 5px;
}

/* Feed styling */
.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Post form styling */
.post-form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-input, .post-image-input, .post-caption-input {
  margin-bottom: 10px;
}

.post-button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
}

.post-button:hover {
  background-color: #21a1f1;
}

/* Post comments and reactions styling */
.comment-form {
  display: flex;
  align-items: center;
}

.comment-form input {
  margin-right: 10px;
  flex-grow: 1;
}

.post-reactions {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Add some space between reactions and comments */
}

.post-reactions span {
  margin-right: 10px;
  cursor: pointer;
}

.post-comments {
  width: 100%;
}

.comment {
  margin-bottom: 10px;
}

.reply {
  margin-left: 20px;
}